H1{color:red;
  background-color:black;
  text-align:center;
  font-family:Hacked;
  text-shadow:5px 5px 5px blue;
  }
  P{
  border: 5px solid red;}
  BODY {background-image: url("rb22.jpg");
  background-repeat: no-repeat;}
  background-attachment: scroll;}
  